.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    position :fixed;
    z-index: 10;
    margin-top: -1.5%;
}

.about {
    margin-top: 2%;
}

a {
    margin-left: 1rem;
    text-decoration: none;
    position: relative;
    top: 1rem;
    color: #fff;
}

.logo_img {
    position: relative;
    top: 0.5rem;
    width: 50%;
    height: 80%;
    max-width: 55px;
    max-height: 51px;
}

a:hover{
    color: var(--color-title);
    text-decoration: underline;
    text-underline-position: under;
}

.name {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    top: 1rem;
    color: #CCD4F9;
}

.job {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-title);
}

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatar {
    text-align: center;
}

.avatar_img {
    position: relative;
    top: 3rem;
    left: 1rem;
    width: 25%;
    z-index: 2;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    outline: 3px solid  var(--color-title);
    outline-offset: 5px
}

.descriptif {
    position: relative;
    top: 20%;
}
.download {
    border: 1px solid  var(--color-title);
    width: 60%;
    height: 3rem;
    position: relative;
    bottom: 60%;
    left: 25%;
    color: var(--color-title);
    transition:  var(--transition);
    text-align: center;
}
.text {
    position: relative;
    vertical-align: middle;
    top: 17%;
}

.download:hover {
    background: var(--color-title);
    border: transparent;
    color: var(--color-bg);
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30%;
    text-align: justify;
}

@media screen and (max-width: 1070px) {
    .navbar {
        display: flex;
        position: relative;
        left: 25%;
    }
}
