.experience_title {
    text-align: center;
    color: var(--color-title);
}

.experience_border {
    border: 1px solid #fff;
}

.experience_container {
    width: 75%;
}

.swiper-pagination-clickable .swiper-pagination-bullet  {
    background: var(--color-title);
}

.swiper-button-prev:after, .swiper-rtl, .swiper-button-next:after {
    color: var(--color-title);
}

.experience_description {
    text-align: justify;
    margin: 2%;
}

.experience_divimage {
    position: relative;
    left: 50%;
    top: 20%;
}

.experience_grid {
    display: grid;
    grid-template-columns: 25% 1fr;
}

@media screen and (max-width: 1600px) {
    .experience_container {
        width: 85%;
    }
}

@media screen and (max-width: 1600px) {
    .experience_container {
        width: 90%;
    }
}