@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --color-bg: #081731;
  --color-title: #00EECF;
  --color-text: #8890B3;

  --transition: all 400ms ease;
  --width-lg: 75%;
  --width-md: 86%;
  --width-sm: 90%;
}

.container {
  width: var(--container-width-lg);
  margin : 0 auto;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  }


body {
  font-family: 'Space Grotesk', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

h1 {
  color: var(--color-title);
  margin-left: 25%;
  font-weight: 200;
}

.container {
  width: var(--width-lg);
  margin : 0 auto;
}

.title {
  position: relative;
  right: 10%;
  margin-bottom: 5%;
  font-weight: 500;
}

